body.contactBody {
    font-family: Arial, sans-serif;
    background-color: #fff5e6;
    color: #333;
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

h1 {
    text-align: center;
}

.logo {
    height: 70px;
    margin-right: 20px;
}

.btn-outline-primary {
    color: black;
    border: 2px solid rgb(12, 5, 5);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
    background-color: #d9534f;
}

.title {
    text-align: center;
    font-size: 40px;
    color: rgb(100, 37, 37);
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    display: block; margin: 0 auto;
}

.btn-primary {
    color: black;
    border: 2px solid rgb(12, 5, 5);
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #d9534f;
}

.wrapper {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}

.form {
    background: #EBEBEB;
    text-align: center;
    box-shadow: 0px 0px 20px 5px #8b8585;
    border-radius: 10px;
    width: 45%;
    height: auto;
    margin: 30px auto;
    padding: 10px 10px;
}

.name,
.email,
.message,
select.entry,
input.form-control {
    background-color: gray;
    border-bottom: 5px solid gray;
    color: black;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 25px 2px #AAA;
    display: block;
    margin: 30px auto;
}

.name:hover,
.email:hover,
.message:hover,
select.entry:hover,
input.form-control:hover {
    background-color: rgb(21, 10, 36);
    border-bottom: 5px solid rgb(21, 10, 36);
    width: 380px;
    color: white;
}

.submit {
    border-radius: 5px;
    padding: 10px;
    background-color: red;
    border: none;
    border-bottom: 5px solid red;
    width: 150px;
    color: white;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.submit:hover {
    border-bottom: 5px solid rgb(37, 78, 80);
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.title {
    text-align: center;
    font-size: 40px;
    color: rgb(100, 37, 37);
}

.error {
    color: #d9534f;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: white;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: gainsboro;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: gainsboro;
}

.logo {
    height: 70px;
    margin-right: 20px;
}

.auth-buttons {
    display: flex;
    margin-left: auto;
}

.auth-buttons .login,
.auth-buttons .register {
    border: 1px solid #007bff;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.auth-buttons .login {
    background-color: white;
    color: black;
}

.auth-buttons .register {
    background-color: #007bff;
    color: black;
}

@media (max-width: 600px) {
    .wrapper, .form, .entry, .name, .email, .message, .select {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .submit {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .auth-buttons {
        flex-direction: column;
    }

    .auth-buttons .login,
    .auth-buttons .register {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    @keyframes shadow {
        0% {}

        50% {
            opacity: 0.8;
            width: 20%;
        }
    }

    .message,
    .email,
    .name,
    .form-control,
    select.entry {
        width: 200px;
    }

    .form {
        width: 90%;
    }
}
